* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: white;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

#text-wrapper {
  flex: 2;
  max-width: 700px;

  text-align: center;

  white-space: normal;
  line-height: 1.8;

  position: relative;
  left: 20%;
}

.fade-text {
  opacity: 0;
}

.hero-desc {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.cursor {
  color: red;
  font-size: 30px;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* LOGO */
#logo-reveal {
  flex: 1;
  opacity: 0;
  transform: scale(0.8);
  transition: 1.2s;
}

#logo-reveal.visible {
  opacity: 1;
  transform: scale(1);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;
  background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
  /* opacity: 0;
  transform: translateY(-100%);
  transition: 0.8s; */
}
nav.visible {
  opacity: 1;
  transform: scale(1);
}

nav .logo {
  width: 200px;
}

nav .logo img {
  max-width: 100%;
  filter: invert(1);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
  gap: 50px;
}
nav ul li {
  padding: 0;
}

nav ul li a {
  color: #bdbdbd;
  text-decoration: none;
  font-size: 26px;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #fff;
}

@media (max-width: 840px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }

  nav ul {
    gap: 10px;
  }
  nav ul li a {
    font-size: 20px;
  }
}

.hero {
  background:
    radial-gradient(circle, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9) 100%),
    url("../images/peaky-card.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px; 
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),  
    rgba(0, 0, 0, 0)    
  );
}
.hero .container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero .cast {
  width: 60%;
  font-size: 20px;
}

.cast h1 {
  font-size: 60px;
}

.cast .source {
  color: #bdbdbd;
}

.cast .trailer {
  text-decoration: none;
}

.cast .trailer button {
  background-color: #ffffff8c;
  color: #fff;
  padding: 10px;
  border-radius: 100px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  transition: 0.3s;
  gap: 10px;
}

.cast .trailer button:hover {
  border-color: #fff;
}

.cast .trailer button i {
  background-color: #fff;
  color: black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Start Episodes */

.episodes {
  padding-block: 20px;
  padding-top: 60px;
  background-color: #000000;
}

.season-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.season-line select {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50px;
  position: relative;
}

.season-line select::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 300px;
  top: 50%;
  transform: translateY(-50%);
  left: -300px;
  background-color: #fff;
}