
body {
    background-color: #0f0f0f; 
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profile-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px; 
}

.profile-card {
    background: #1a1a1a;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border: 1px solid #333;
}

.user-avatar i {
    font-size: 100px;
    color: #e50914;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 10px rgba(229, 9, 20, 0.3));
}

.profile-card h2 {
    color: white;
    font-size: 28px;
    margin: 10px 0;
    text-transform: capitalize;
}

.email-text {
    color: #999;
    font-size: 16px;
    margin-bottom: 30px;
}

.actions-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.edit-btn, .security-btn {
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
}

.edit-btn {
    background-color: #e50914;
    color: white;
}

.edit-btn:hover {
    background-color: #b20710;
    transform: scale(1.02);
}

.security-btn {
    background-color: transparent;
    color: #ccc;
    border: 1px solid #444;
}

.security-btn:hover {
    background-color: #333;
    color: white;
}
.my-list-preview{
    color: #09caff;
}